/*mobile first*/
/*HEADER*/
.headerFlexWrapper{
	background-color: #26547c;
	display: flex;
	flex-direction: column;
}

.titleWithEggs {
	display: flex;
	justify-content: space-around;
	padding: 1em;

}
h1 {
	color: #ffd166;
	font-family: 'Covered By Your Grace', cursive;
}
h3 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
}
.headerEgg{
	height: 4em;
}