/*mobile first*/
/*HEADER*/
*{
	box-sizing: border-box;
}
.headerFlexWrapper{
	background-color: #26547c;
	display: flex;
	flex-direction: column;
}

.titleWithEggs {
	display: flex;
	justify-content: space-around;
	margin-bottom: 0;
	padding: 1em;

}
h1 {
	color: #ffd166;
	font-family: 'Covered By Your Grace', cursive;
}
h3 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 0.75em;
	margin: 0 0 0.5em 0;
}
.headerEggDiv{
	padding: 0;
}
.headerEgg{
	height: 4em;
	margin: 0;
}

/*Next level up: 1250px*/